<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand brand" routerLink="/" (click)="cerrarMenu()">
      <span class="brand-mark"></span>
      MediCitas
    </a>

    <button
      class="navbar-toggler custom-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-controls="mainNav"
      [attr.aria-expanded]="menuAbierto()"
      aria-label="Abrir navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="mainNav"
      class="collapse navbar-collapse"
      [class.show]="menuAbierto()"
    >
      <div class="navbar-nav ms-auto gap-lg-2 align-items-lg-center nav-mobile-wrap">
        <a
          class="nav-link custom-link"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Inicio
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/doctores"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Doctores
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/agendar"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Agendar
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/mis-citas"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Mis citas
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/contacto"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Contacto
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/admin/doctores"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Admin doctores
        </a>

        <a
          class="nav-link custom-link"
          routerLink="/admin/citas"
          routerLinkActive="active-link"
          (click)="cerrarMenu()"
        >
          Admin citas
        </a>
      </div>
    </div>
  </div>
</nav>